<style media="screen">
  div.user_index {
    width: 99.5%;
    height: 88.7%;
    margin-top: 2px;
    position: absolute;
    background-color: rgba(96, 164, 8, 0.77);
  }
  h2 {
    position: relative;
    margin-left: 20px;
    top: 1vh;
    font-size: 25px;
  }

  div.list {
    position: relative;
    top: 2vh;
    font-size: 20px;
  }
</style>
<div class="user_index">

  <h2>List of users</h2>
  <div class="list">
    <ul>
      <% @users.each do |e| %>
      <li>
        <%= e.name %>
      </li>
      <% end %>
    </ul>
  </div >
</div>
