<style media="screen">
  div.cities_index {
    width: 99.5%;
    height: 88.7%;
    margin-top: 2px;
    position: absolute;
    text-align: center;
    background-color: rgba(96, 164, 8, 0.77);
  }
  ul {
    list-style-type: none;
  }
  h2, ul {
    display: block;
  }
  h2 {
    position: relative;
    top: 5vh;
    font-size: 45px;
  }
  ul {
    position: relative;
    top: 8vh;
    font-size: 20px;
  }
  li {
    margin: 10px;

  }
  #city, #city:visited {
    text-decoration: none;
    color: white;
  }

  #new_city, #new_city:visited {
    position: relative;
    top: 18vh;
    left: 2vw;
    text-decoration: none;
    color: white;
    background-color: rgba(142, 47, 18, 0.81);
  }
</style>

<div class="cities_index">
  <h2>List of Cities</h2>
  <ul>
    <% @cities.each do |city| %>
      <li>
        <%= link_to city.name, city_path(city.id), id: 'city' %>
      </li>
    <% end %>
  </ul>

  <% if @current_user.present? && @current_user.admin? %>
    <%= link_to 'Add New City', new_city_path, id: 'new_city' %>
  <% end %>
</div>
