// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.search {
  text-align: center;
  color: white;
  font-size: 30px;
  width: 99.5%;
  height: 88.7%;
  margin-top: 2px;
  position: absolute;
  // top: 260px;
  // margin: auto 295px;
  background-image: url("background.jpeg");
  background-size: cover;
}
div.list {
  position: relative;
  top: 1vh;
  heigh: 30%;
  width: 36%;
  font-size: 12px;
  left: 69vw;
  color: white;
}

#countries, #countries:visited, #cities, #cities:visited, #attractions, #attractions:visited {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
h2.search_header {
  position: relative;
  top: 12vh;
}
div.searchArea {
  width: max-content;
  position: relative;
  top: 9vh;
  margin: 0px auto;
}
.searchSelection {
  height: 35px;
}

.searchBar {
  height: 30px;
  width: 300px;
  border-radius: 5px;

}

.searchButtom {
  height: 35px;
  width: 60px;
  border-radius: 5px;
}
