// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.register {
  margin: auto;
}
div.show_errors {
  height: 65px;
  position: relative;
  top: 10vh;
}

  div.labels {
    position: relative;
    top: 15vh;
    font-size: 25px;
  }
