<h2>Details of <%= @attraction.name %></h2>

<label>
  <strong>Name:</strong>
  <%= @attraction.name %>
</label><br>

<label>
  <strong>Description:</strong>
  <%= @attraction.description %>
</label><br>
